.paypal-buttons.paypal-buttons-context-iframe.paypal-buttons-label-unknown.paypal-buttons-layout-vertical {
}
.none1 {
    width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: center;
}
