@for $i from -50 through 400 {
    .mt#{$i}px {
      margin-top: #{$i}px !important;
    }
  }
  
  @for $i from -50 through 400 {
    .mb#{$i}px {
      margin-bottom: #{$i}px !important;
    }
  }
  @for $i from 0 through 400 {
    .ml#{$i}px {
      margin-left: #{$i}px !important;
    }
  }
  
  @for $i from 0 through 400 {
    .mr#{$i}px {
      margin-right: #{$i}px !important;
    }
  }